:{$PORT} {
	handle /api/quote {
		rewrite * /api/random
		reverse_proxy https://zenquotes.io {
			header_up Host zenquotes.io
		}
	}

	handle {
		root * /app/dist
		try_files {path} /index.html
		file_server
	}
}
